@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.5s;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #00281e;
}

.full-game {
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    margin-top: 20px;
    font-size: 3rem;
    word-spacing: 10px;
    color: white;
    letter-spacing: 0.7rem;
}

.game {
    border-radius: 10px;
    background-color: #0c624c;
    align-self: center;
    justify-self: center;
    width: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 15rem;
    max-width: 50rem;
    padding: 10px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    font-size: 6.5rem;
    height: 9rem;
    margin: 10px;

}

.open .back {
    transform: rotateY(0deg);
}

.open .frant {
    transform: rotateY(180deg);
}

.frant,
.back {
    border-radius: 10px;
    user-select: none;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

.frant {
    background-color: #219d7d;
}

.back {
    transform: rotatey(180deg);
    background-color: white;
}

.btns {
    display: flex;
}

.reset,
.hint {
    margin: 0px 10px;
    background-color: white;
    color: #219d7d;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.reset:hover,
.hint:hover {
    background-color: rgb(198, 255, 250);

}

@media screen and (max-width: 480px) {
    html {
        font-size: 45%;
    }

}